The following code is going to be used to identify if there is a correlation between income level and education level. In this example I only looked at below and above high school level of education. For this I used the independent t-test

In [1]:
# Importing needed modules
import numpy as np
import pandas as pd
import scipy.stats as stats
import glob

In [2]:
#This will hold all the datsets
complete_dataset = list()

# One annoyance is that this data is across multiple files
# This loop will loop through each and make a data table of each.
# I will show one datatable at the end of this cell
for itm in glob.glob('Data_1/*data_with_overlays*.csv'):
    complete_dataset.append(pd.read_csv(itm))

# I'm not going to save the year. Doing so would be harder and not necessarily useful
#These will hold income above and below high school level
data_below_high = list()
data_above_high = list()

# Loops through complete data set and pulls out the appropiate values
for i,itm in enumerate(complete_dataset):
    # The cell headers used are from the table below
    data_below_high.append(itm['B20004_002E'][1])
    data_above_high.append(itm['B20004_003E'][1])
# Showing the following dataset
complete_dataset[0]

,GEO_ID,NAME,B20004_001E,B20004_001M,B20004_002E,B20004_002M,B20004_003E,B20004_003M,B20004_004E,B20004_004M,...,B20004_014E,B20004_014M,B20004_015E,B20004_015M,B20004_016E,B20004_016M,B20004_017E,B20004_017M,B20004_018E,B20004_018M
0,id,Geographic Area Name,Estimate!!Total,Margin of Error!!Total,Estimate!!Total!!Less than high school graduate,Margin of Error!!Total!!Less than high school ...,Estimate!!Total!!High school graduate (include...,Margin of Error!!Total!!High school graduate (...,Estimate!!Total!!Some college or associate's d...,Margin of Error!!Total!!Some college or associ...,...,Estimate!!Total!!Female!!Less than high school...,Margin of Error!!Total!!Female!!Less than high...,Estimate!!Total!!Female!!High school graduate ...,Margin of Error!!Total!!Female!!High school gr...,Estimate!!Total!!Female!!Some college or assoc...,Margin of Error!!Total!!Female!!Some college o...,Estimate!!Total!!Female!!Bachelor's degree,Margin of Error!!Total!!Female!!Bachelor's degree,Estimate!!Total!!Female!!Graduate or professio...,Margin of Error!!Total!!Female!!Graduate or pr...
1,0100000US,United States,33298,97,18413,103,26349,56,31928,45,...,14470,110,21427,64,27062,74,40393,96,52866,275

In [3]:
# Here's the magic
stat_values = stats.ttest_ind(np.array(data_above_high,dtype='int64'),np.array(data_below_high,dtype='int64'))

#Print line to make data easy to read
print("t-value:{0}\np-value:{1}".format(*stat_values))

t-value:8.373670782971901
p-value:3.051863998739338e-07

In [7]:
data_above_high

['26349',
 '26699',
 '27024',
 '27350',
 '27809',
 '29004',
 '29969',
 '30624',
 '31269']

In [5]:
data_below_high

['18413',
 '18794',
 '19404',
 '20149',
 '20542',
 '21320',
 '21839',
 '23031',
 '24530']